@model WebMinhaFinancas.Models.Entitty.User

@{
    ViewData["Title"] = "Novo Registro";
}

<h2> @ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registro">
            <div class="form-group">
                <label asp-for="FullName">@Html.DisplayNameFor(mi => mi.FullName)</label>
                <input asp-for="FullName" type="text" class="form-control" placeholder="ex: João da Silva">
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">@Html.DisplayNameFor(mi => mi.Email)</label>
                <input asp-for="Email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="email@email.com">
                <span asp-validation-for="Email" class="text-danger"></span>
                @*<small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>*@
            </div>
            <div class="form-group">
                <label asp-for="Password">@Html.DisplayNameFor(mi => mi.Password)</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Senha">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
            <button type="submit" class="btn btn-primary">Enviar</button>
            <a asp-action="Login" asp-controller="User"> Já sou Cadastrado</a>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
